<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mms.mapper.MmsFlowCardMapper">

    <resultMap type="MmsFlowCard" id="MmsFlowCardResult">
        <id property="cardId" column="card_id"/>
        <result property="cardCode" column="card_code"/>
        <result property="workOrderId" column="work_order_id"/>
        <result property="workOrderNo" column="work_order_no"/>
        <result property="batchNo" column="batch_no"/>
        <result property="opSeq" column="op_seq"/>
        <result property="processName" column="process_name"/>
        <result property="status" column="status"/>
        <result property="qrContent" column="qr_content"/>
        <result property="printCount" column="print_count"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectFlowCardVo">
        SELECT card_id, card_code, work_order_id, work_order_no, batch_no, op_seq, process_name, status, qr_content, print_count, del_flag, create_by, create_time, update_by, update_time, remark
        FROM mms_flow_card
    </sql>

    <select id="selectFlowCardList" parameterType="MmsFlowCard" resultMap="MmsFlowCardResult">
        <include refid="selectFlowCardVo"/>
        <where>
            del_flag = '0'
            <if test="cardCode != null and cardCode != ''"> AND card_code LIKE CONCAT('%', #{cardCode}, '%')</if>
            <if test="workOrderNo != null and workOrderNo != ''"> AND work_order_no LIKE CONCAT('%', #{workOrderNo}, '%')</if>
            <if test="batchNo != null and batchNo != ''"> AND batch_no LIKE CONCAT('%', #{batchNo}, '%')</if>
            <if test="processName != null and processName != ''"> AND process_name LIKE CONCAT('%', #{processName}, '%')</if>
            <if test="status != null and status != ''"> AND status = #{status}</if>
            <if test="params.beginTime != null and params.beginTime != ''"> AND date(create_time) &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null and params.endTime != ''"> AND date(create_time) &lt;= #{params.endTime}</if>
        </where>
        ORDER BY card_id DESC
    </select>

    <select id="selectFlowCardById" parameterType="Long" resultMap="MmsFlowCardResult">
        <include refid="selectFlowCardVo"/>
        WHERE card_id = #{cardId}
    </select>

    <insert id="insertFlowCard" parameterType="MmsFlowCard" useGeneratedKeys="true" keyProperty="cardId">
        INSERT INTO mms_flow_card (
            card_code,
            work_order_id,
            work_order_no,
            batch_no,
            op_seq,
            process_name,
            status,
            qr_content,
            print_count,
            del_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        ) VALUES (
            #{cardCode},
            #{workOrderId},
            #{workOrderNo},
            #{batchNo},
            #{opSeq},
            #{processName},
            #{status},
            #{qrContent},
            #{printCount},
            #{delFlag},
            #{createBy},
            #{createTime},
            #{updateBy},
            #{updateTime},
            #{remark}
        )
    </insert>

    <update id="updateFlowCard" parameterType="MmsFlowCard">
        UPDATE mms_flow_card SET
            card_code = #{cardCode},
            work_order_id = #{workOrderId},
            work_order_no = #{workOrderNo},
            batch_no = #{batchNo},
            op_seq = #{opSeq},
            process_name = #{processName},
            status = #{status},
            qr_content = #{qrContent},
            print_count = #{printCount},
            update_by = #{updateBy},
            update_time = #{updateTime},
            remark = #{remark}
        WHERE card_id = #{cardId}
    </update>

    <delete id="deleteFlowCardByIds" parameterType="Long">
        UPDATE mms_flow_card SET del_flag = '2' WHERE card_id IN
        <foreach collection="array" item="cardId" open="(" separator="," close=")">
            #{cardId}
        </foreach>
    </delete>
</mapper>
