<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mms.mapper.MmsKitCheckMapper">

    <resultMap type="MmsKitCheck" id="MmsKitCheckResult">
                <id property="kitId" column="kit_id"/>
<result property="kitNo"     column="kit_no"/>
        <result property="workOrderId"     column="work_order_id"/>
        <result property="workOrderNo"     column="work_order_no"/>
        <result property="mpsId"     column="mps_id"/>
        <result property="mpsNo"     column="mps_no"/>
        <result property="bomId"     column="bom_id"/>
        <result property="checkTime"     column="check_time"/>
        <result property="kitRate"     column="kit_rate"/>
        <result property="isComplete"     column="is_complete"/>
        <result property="status"     column="status"/>
        <result property="delFlag"     column="del_flag"/>
        <result property="createBy"     column="create_by"/>
        <result property="createTime"     column="create_time"/>
        <result property="updateBy"     column="update_by"/>
        <result property="updateTime"     column="update_time"/>
        <result property="remark"     column="remark"/>
    </resultMap>

    <sql id="selectKitCheckVo">
        SELECT kit_id, kit_no, work_order_id, work_order_no, mps_id, mps_no, bom_id, check_time, kit_rate, is_complete, status, del_flag, create_by, create_time, update_by, update_time, remark
        FROM mms_kit_check
    </sql>

    <select id="selectKitCheckList" parameterType="MmsKitCheck" resultMap="MmsKitCheckResult">
        <include refid="selectKitCheckVo"/>
        <where>
            del_flag = '0'
            <if test="kitNo != null and kitNo != ''"> AND kit_no LIKE CONCAT('%', #{kit_no}, '%')</if>
            <if test="workOrderNo != null and workOrderNo != ''"> AND work_order_no LIKE CONCAT('%', #{work_order_no}, '%')</if>
            <if test="mpsNo != null and mpsNo != ''"> AND mps_no LIKE CONCAT('%', #{mps_no}, '%')</if>
            <if test="status != null and status != ''"> AND status = #{status}</if>
            <if test="params.beginTime != null and params.beginTime != ''"> AND date(create_time) &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null and params.endTime != ''"> AND date(create_time) &lt;= #{params.endTime}</if>
        </where>
        ORDER BY kit_id DESC
    </select>

    <select id="selectKitCheckById" parameterType="Long" resultMap="MmsKitCheckResult">
        <include refid="selectKitCheckVo"/>
        WHERE kit_id = #{kitId}
    </select>

    <insert id="insertKitCheck" parameterType="MmsKitCheck" useGeneratedKeys="true" keyProperty="kitId">
        INSERT INTO mms_kit_check (
            kit_no,
            work_order_id,
            work_order_no,
            mps_id,
            mps_no,
            bom_id,
            check_time,
            kit_rate,
            is_complete,
            status,
            del_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        )VALUES(
            #{kitNo},
            #{workOrderId},
            #{workOrderNo},
            #{mpsId},
            #{mpsNo},
            #{bomId},
            #{checkTime},
            #{kitRate},
            #{isComplete},
            #{status},
            #{delFlag},
            #{createBy},
            #{createTime},
            #{updateBy},
            #{updateTime},
            #{remark}
        )
    </insert>

    <update id="updateKitCheck" parameterType="MmsKitCheck">
        UPDATE mms_kit_check SET
            kit_no = #{kitNo},
            work_order_id = #{workOrderId},
            work_order_no = #{workOrderNo},
            mps_id = #{mpsId},
            mps_no = #{mpsNo},
            bom_id = #{bomId},
            check_time = #{checkTime},
            kit_rate = #{kitRate},
            is_complete = #{isComplete},
            status = #{status},
            update_by = #{updateBy},
            update_time = #{updateTime},
            remark = #{remark}
        WHERE kit_id = #{kitId}
    </update>

    <delete id="deleteKitCheckByIds" parameterType="Long">
        UPDATE mms_kit_check SET del_flag = '2' WHERE kit_id IN
        <foreach collection="array" item="kitId" open="(" separator="," close=")">
            #{kitId}
        </foreach>
    </delete>
</mapper>
