<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mms.mapper.MmsStationMapper">

    <resultMap type="MmsStation" id="MmsStationResult">
        <id property="stationId" column="station_id"/>
        <result property="stationCode" column="station_code"/>
        <result property="stationName" column="station_name"/>
        <result property="lineId" column="line_id"/>
        <result property="stationType" column="station_type"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="lineName" column="line_name"/>
    </resultMap>

    <sql id="selectStationVo">
        SELECT s.station_id, s.station_code, s.station_name, s.line_id, s.station_type, s.status, s.del_flag,
               s.create_by, s.create_time, s.update_by, s.update_time, s.remark,
               l.line_name
        FROM mms_station s
        LEFT JOIN mms_line l ON s.line_id = l.line_id
    </sql>

    <select id="selectStationList" parameterType="MmsStation" resultMap="MmsStationResult">
        <include refid="selectStationVo"/>
        <where>
            s.del_flag = '0'
            <if test="stationCode != null and stationCode != ''"> AND s.station_code LIKE CONCAT('%', #{stationCode}, '%')</if>
            <if test="stationName != null and stationName != ''"> AND s.station_name LIKE CONCAT('%', #{stationName}, '%')</if>
            <if test="lineId != null"> AND s.line_id = #{lineId}</if>
            <if test="stationType != null and stationType != ''"> AND s.station_type = #{stationType}</if>
            <if test="status != null and status != ''"> AND s.status = #{status}</if>
        </where>
        ORDER BY s.station_id ASC
    </select>

    <select id="selectStationById" parameterType="Long" resultMap="MmsStationResult">
        <include refid="selectStationVo"/>
        WHERE s.station_id = #{stationId}
    </select>

    <insert id="insertStation" parameterType="MmsStation" useGeneratedKeys="true" keyProperty="stationId">
        INSERT INTO mms_station (
            station_code, station_name, line_id, station_type, status, del_flag, create_by, create_time, update_by, update_time, remark
        ) VALUES (
            #{stationCode}, #{stationName}, #{lineId}, #{stationType}, #{status}, #{delFlag}, #{createBy}, sysdate(), #{updateBy}, #{updateTime}, #{remark}
        )
    </insert>

    <update id="updateStation" parameterType="MmsStation">
        UPDATE mms_station SET
            station_code = #{stationCode},
            station_name = #{stationName},
            line_id = #{lineId},
            station_type = #{stationType},
            status = #{status},
            update_by = #{updateBy},
            update_time = sysdate(),
            remark = #{remark}
        WHERE station_id = #{stationId}
    </update>

    <delete id="deleteStationByIds" parameterType="Long">
        UPDATE mms_station SET del_flag = '2' WHERE station_id IN
        <foreach collection="array" item="stationId" open="(" separator="," close=")">
            #{stationId}
        </foreach>
    </delete>
</mapper>
