<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hr.mapper.HrLeaveAuditLogMapper">

    <resultMap type="HrLeaveAuditLog" id="HrLeaveAuditLogResult">
        <result property="logId"    column="log_id"    />
        <result property="leaveId"    column="leave_id"    />
        <result property="auditAction"    column="audit_action"    />
        <result property="auditBy"    column="audit_by"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditRemark"    column="audit_remark"    />
    </resultMap>

    <sql id="selectHrLeaveAuditLogVo">
        select log_id, leave_id, audit_action, audit_by, audit_time, audit_remark from biz_hr_leave_audit_log
    </sql>

    <select id="selectHrLeaveAuditLogByLogId" parameterType="Long" resultMap="HrLeaveAuditLogResult">
        <include refid="selectHrLeaveAuditLogVo"/>
        where log_id = #{logId}
    </select>

    <select id="selectHrLeaveAuditLogByLeaveId" parameterType="Long" resultMap="HrLeaveAuditLogResult">
        <include refid="selectHrLeaveAuditLogVo"/>
        where leave_id = #{leaveId}
        order by audit_time asc, log_id asc
    </select>

    <insert id="insertHrLeaveAuditLog" parameterType="HrLeaveAuditLog" useGeneratedKeys="true" keyProperty="logId">
        insert into biz_hr_leave_audit_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="leaveId != null">leave_id,</if>
            <if test="auditAction != null">audit_action,</if>
            <if test="auditBy != null">audit_by,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditRemark != null">audit_remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="leaveId != null">#{leaveId},</if>
            <if test="auditAction != null">#{auditAction},</if>
            <if test="auditBy != null">#{auditBy},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditRemark != null">#{auditRemark},</if>
        </trim>
    </insert>

    <delete id="deleteHrLeaveAuditLogByLogId" parameterType="Long">
        delete from biz_hr_leave_audit_log where log_id = #{logId}
    </delete>

    <delete id="deleteHrLeaveAuditLogByLeaveId" parameterType="Long">
        delete from biz_hr_leave_audit_log where leave_id = #{leaveId}
    </delete>

</mapper>
