<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hr.mapper.HrTransferMapper">

    <resultMap type="HrTransfer" id="HrTransferResult">
        <result property="transferId" column="transfer_id"/>
        <result property="transferNo" column="transfer_no"/>
        <result property="employeeId" column="employee_id"/>
        <result property="employeeName" column="employee_name"/>
        <result property="employeeNo" column="employee_no"/>
        <result property="transferType" column="transfer_type"/>
        <result property="fromOrgId" column="from_org_id"/>
        <result property="fromOrgName" column="from_org_name"/>
        <result property="toOrgId" column="to_org_id"/>
        <result property="toOrgName" column="to_org_name"/>
        <result property="fromPosition" column="from_position"/>
        <result property="toPosition" column="to_position"/>
        <result property="fromSalary" column="from_salary"/>
        <result property="toSalary" column="to_salary"/>
        <result property="effectiveDate" column="effective_date"/>
        <result property="reason" column="reason"/>
        <result property="auditStatus" column="audit_status"/>
        <result property="auditBy" column="audit_by"/>
        <result property="auditTime" column="audit_time"/>
        <result property="auditRemark" column="audit_remark"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectVo">
        SELECT transfer_id, transfer_no, employee_id, employee_name, employee_no, transfer_type, from_org_id, from_org_name, to_org_id, to_org_name, from_position, to_position, from_salary, to_salary, effective_date, reason, audit_status, audit_by, audit_time, audit_remark, status, del_flag, create_by, create_time, update_by, update_time, remark
        FROM biz_hr_transfer
    </sql>

    <select id="selectHrTransferList" parameterType="HrTransfer" resultMap="HrTransferResult">
        <include refid="selectVo"/>
        <where>
            del_flag = '0'
            <if test="transferNo != null and transferNo != ''"> AND transfer_no LIKE CONCAT('%', #{transferNo}, '%')</if>
            <if test="employeeId != null"> AND employee_id = #{employeeId}</if>
            <if test="employeeName != null and employeeName != ''"> AND employee_name LIKE CONCAT('%', #{employeeName}, '%')</if>
            <if test="employeeNo != null and employeeNo != ''"> AND employee_no LIKE CONCAT('%', #{employeeNo}, '%')</if>
            <if test="transferType != null and transferType != ''"> AND transfer_type LIKE CONCAT('%', #{transferType}, '%')</if>
            <if test="fromOrgId != null"> AND from_org_id = #{fromOrgId}</if>
            <if test="fromOrgName != null and fromOrgName != ''"> AND from_org_name LIKE CONCAT('%', #{fromOrgName}, '%')</if>
            <if test="toOrgId != null"> AND to_org_id = #{toOrgId}</if>
            <if test="toOrgName != null and toOrgName != ''"> AND to_org_name LIKE CONCAT('%', #{toOrgName}, '%')</if>
            <if test="fromPosition != null and fromPosition != ''"> AND from_position LIKE CONCAT('%', #{fromPosition}, '%')</if>
            <if test="toPosition != null and toPosition != ''"> AND to_position LIKE CONCAT('%', #{toPosition}, '%')</if>
            <if test="fromSalary != null"> AND from_salary = #{fromSalary}</if>
            <if test="toSalary != null"> AND to_salary = #{toSalary}</if>
            <if test="effectiveDate != null"> AND effective_date = #{effectiveDate}</if>
            <if test="reason != null and reason != ''"> AND reason LIKE CONCAT('%', #{reason}, '%')</if>
            <if test="auditStatus != null and auditStatus != ''"> AND audit_status LIKE CONCAT('%', #{auditStatus}, '%')</if>
            <if test="auditBy != null and auditBy != ''"> AND audit_by LIKE CONCAT('%', #{auditBy}, '%')</if>
            <if test="auditTime != null"> AND audit_time = #{auditTime}</if>
            <if test="auditRemark != null and auditRemark != ''"> AND audit_remark LIKE CONCAT('%', #{auditRemark}, '%')</if>
            <if test="status != null and status != ''"> AND status LIKE CONCAT('%', #{status}, '%')</if>
            <if test="delFlag != null and delFlag != ''"> AND del_flag LIKE CONCAT('%', #{delFlag}, '%')</if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectHrTransferById" parameterType="Long" resultMap="HrTransferResult">
        <include refid="selectVo"/> WHERE transfer_id = #{transferId}
    </select>

    <insert id="insertHrTransfer" parameterType="HrTransfer" useGeneratedKeys="true" keyProperty="transferId">
        INSERT INTO biz_hr_transfer (
            transfer_no, employee_id, employee_name, employee_no, transfer_type, from_org_id, from_org_name, to_org_id, to_org_name, from_position, to_position, from_salary, to_salary, effective_date, reason, audit_status, audit_by, audit_time, audit_remark, status, del_flag, create_by, create_time, remark
        ) VALUES (
            #{transferNo}, #{employeeId}, #{employeeName}, #{employeeNo}, #{transferType}, #{fromOrgId}, #{fromOrgName}, #{toOrgId}, #{toOrgName}, #{fromPosition}, #{toPosition}, #{fromSalary}, #{toSalary}, #{effectiveDate}, #{reason}, #{auditStatus}, #{auditBy}, #{auditTime}, #{auditRemark}, #{status}, #{delFlag}, #{createBy}, sysdate(), #{remark}
        )
    </insert>

    <update id="updateHrTransfer" parameterType="HrTransfer">
        UPDATE biz_hr_transfer
        <set>
            <if test="transferNo != null and transferNo != ''">transfer_no = #{transferNo},</if>
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="employeeName != null and employeeName != ''">employee_name = #{employeeName},</if>
            <if test="employeeNo != null and employeeNo != ''">employee_no = #{employeeNo},</if>
            <if test="transferType != null and transferType != ''">transfer_type = #{transferType},</if>
            <if test="fromOrgId != null">from_org_id = #{fromOrgId},</if>
            <if test="fromOrgName != null and fromOrgName != ''">from_org_name = #{fromOrgName},</if>
            <if test="toOrgId != null">to_org_id = #{toOrgId},</if>
            <if test="toOrgName != null and toOrgName != ''">to_org_name = #{toOrgName},</if>
            <if test="fromPosition != null and fromPosition != ''">from_position = #{fromPosition},</if>
            <if test="toPosition != null and toPosition != ''">to_position = #{toPosition},</if>
            <if test="fromSalary != null">from_salary = #{fromSalary},</if>
            <if test="toSalary != null">to_salary = #{toSalary},</if>
            <if test="effectiveDate != null">effective_date = #{effectiveDate},</if>
            <if test="reason != null and reason != ''">reason = #{reason},</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status = #{auditStatus},</if>
            <if test="auditBy != null and auditBy != ''">audit_by = #{auditBy},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditRemark != null and auditRemark != ''">audit_remark = #{auditRemark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        WHERE transfer_id = #{transferId}
    </update>

    <delete id="deleteHrTransferById" parameterType="Long">
        UPDATE biz_hr_transfer SET del_flag = '2' WHERE transfer_id = #{transferId}
    </delete>

    <delete id="deleteHrTransferByIds" parameterType="Long">
        UPDATE biz_hr_transfer SET del_flag = '2' WHERE transfer_id IN
        <foreach item="transferId" collection="array" open="(" separator="," close=")">#{transferId}</foreach>
    </delete>

</mapper>
