<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qms.mapper.QmsEsigRecordMapper">

    <resultMap type="QmsEsigRecord" id="QmsEsigRecordResult">
        <result property="esigId"        column="esig_id"/>
        <result property="bizType"       column="biz_type"/>
        <result property="bizId"         column="biz_id"/>
        <result property="bizNo"         column="biz_no"/>
        <result property="userId"        column="user_id"/>
        <result property="userName"      column="user_name"/>
        <result property="nickName"      column="nick_name"/>
        <result property="sigMeaning"    column="sig_meaning"/>
        <result property="sigOpinion"    column="sig_opinion"/>
        <result property="sigResult"     column="sig_result"/>
        <result property="sigIp"         column="sig_ip"/>
        <result property="sigTime"       column="sig_time"/>
        <result property="createBy"      column="create_by"/>
        <result property="createTime"    column="create_time"/>
        <result property="remark"        column="remark"/>
    </resultMap>

    <sql id="selectEsigRecordVo">
        SELECT esig_id, biz_type, biz_id, biz_no, user_id, user_name, nick_name,
               sig_meaning, sig_opinion, sig_result, sig_ip, sig_time,
               create_by, create_time, remark
        FROM qms_esig_record
    </sql>

    <select id="selectEsigRecordList" parameterType="QmsEsigRecord" resultMap="QmsEsigRecordResult">
        <include refid="selectEsigRecordVo"/>
        <where>
            1=1
            <if test="bizType != null and bizType != ''"> AND biz_type = #{bizType}</if>
            <if test="bizId != null"> AND biz_id = #{bizId}</if>
            <if test="bizNo != null and bizNo != ''"> AND biz_no LIKE CONCAT('%', #{bizNo}, '%')</if>
            <if test="userName != null and userName != ''"> AND user_name LIKE CONCAT('%', #{userName}, '%')</if>
        </where>
        ORDER BY sig_time DESC
    </select>

    <select id="selectEsigRecordById" parameterType="Long" resultMap="QmsEsigRecordResult">
        <include refid="selectEsigRecordVo"/> WHERE esig_id = #{esigId}
    </select>

    <select id="selectEsigRecordByBiz" resultMap="QmsEsigRecordResult">
        <include refid="selectEsigRecordVo"/>
        WHERE biz_type = #{bizType} AND biz_id = #{bizId}
        ORDER BY sig_time ASC
    </select>

    <insert id="insertEsigRecord" parameterType="QmsEsigRecord" useGeneratedKeys="true" keyProperty="esigId">
        INSERT INTO qms_esig_record (
            biz_type, biz_id, biz_no, user_id, user_name, nick_name,
            sig_meaning, sig_opinion, sig_result, sig_ip, sig_time,
            create_by, create_time, remark
        ) VALUES (
            #{bizType}, #{bizId}, #{bizNo}, #{userId}, #{userName}, #{nickName},
            #{sigMeaning}, #{sigOpinion}, #{sigResult}, #{sigIp}, #{sigTime},
            #{createBy}, sysdate(), #{remark}
        )
    </insert>

    <delete id="deleteEsigRecordByIds" parameterType="Long">
        DELETE FROM qms_esig_record WHERE esig_id IN
        <foreach item="esigId" collection="array" open="(" separator="," close=")">#{esigId}</foreach>
    </delete>

</mapper>