<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qms.mapper.QmsInspItemMapper">

    <resultMap type="QmsInspItem" id="QmsInspItemResult">
        <result property="itemId"        column="item_id"/>
        <result property="taskId"        column="task_id"/>
        <result property="stdId"         column="std_id"/>
        <result property="stdName"       column="std_name"/>
        <result property="sampleSeq"     column="sample_seq"/>
        <result property="measuredVal"   column="measured_val"/>
        <result property="itemResult"    column="item_result"/>
        <result property="defectCode"    column="defect_code"/>
        <result property="defectName"    column="defect_name"/>
        <result property="defectLevel"   column="defect_level"/>
        <result property="createBy"      column="create_by"/>
        <result property="createTime"    column="create_time"/>
    </resultMap>

    <sql id="selectInspItemVo">
        SELECT item_id, task_id, std_id, std_name, sample_seq, measured_val, item_result,
               defect_code, defect_name, defect_level, create_by, create_time
        FROM qms_insp_item
    </sql>

    <select id="selectInspItemListByTaskId" parameterType="Long" resultMap="QmsInspItemResult">
        <include refid="selectInspItemVo"/>
        WHERE task_id = #{taskId}
        ORDER BY sample_seq ASC, item_id ASC
    </select>

    <insert id="insertInspItem" parameterType="QmsInspItem" useGeneratedKeys="true" keyProperty="itemId">
        INSERT INTO qms_insp_item (
            task_id, std_id, std_name, sample_seq, measured_val, item_result,
            defect_code, defect_name, defect_level, create_by, create_time
        ) VALUES (
            #{taskId}, #{stdId}, #{stdName}, #{sampleSeq}, #{measuredVal}, #{itemResult},
            #{defectCode}, #{defectName}, #{defectLevel}, #{createBy}, sysdate()
        )
    </insert>

    <insert id="batchInsertInspItem" parameterType="java.util.List">
        INSERT INTO qms_insp_item (
            task_id, std_id, std_name, sample_seq, measured_val, item_result,
            defect_code, defect_name, defect_level, create_by, create_time
        ) VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.taskId}, #{item.stdId}, #{item.stdName}, #{item.sampleSeq}, #{item.measuredVal},
             #{item.itemResult}, #{item.defectCode}, #{item.defectName}, #{item.defectLevel},
             #{item.createBy}, sysdate())
        </foreach>
    </insert>

    <delete id="deleteInspItemByTaskId" parameterType="Long">
        DELETE FROM qms_insp_item WHERE task_id = #{taskId}
    </delete>

</mapper>
