<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qms.mapper.QmsInspTaskMapper">

    <resultMap type="QmsInspTask" id="QmsInspTaskResult">
        <result property="taskId"         column="task_id"/>
        <result property="taskNo"         column="task_no"/>
        <result property="taskType"       column="task_type"/>
        <result property="sourceType"     column="source_type"/>
        <result property="sourceNo"       column="source_no"/>
        <result property="materialId"     column="material_id"/>
        <result property="materialCode"   column="material_code"/>
        <result property="materialName"   column="material_name"/>
        <result property="supplierId"     column="supplier_id"/>
        <result property="supplierName"   column="supplier_name"/>
        <result property="batchNo"        column="batch_no"/>
        <result property="inspectQty"     column="inspect_qty"/>
        <result property="aqlLevel"       column="aql_level"/>
        <result property="inspectLevel"   column="inspect_level"/>
        <result property="sampleSize"     column="sample_size"/>
        <result property="acVal"          column="ac_val"/>
        <result property="reVal"          column="re_val"/>
        <result property="taskStatus"     column="task_status"/>
        <result property="inspectResult"  column="inspect_result"/>
        <result property="defectLevel"    column="defect_level"/>
        <result property="inspectorId"    column="inspector_id"/>
        <result property="inspectorName"  column="inspector_name"/>
        <result property="inspectTime"    column="inspect_time"/>
        <result property="judgeTime"      column="judge_time"/>
        <result property="gaugeId"        column="gauge_id"/>
        <result property="gaugeName"      column="gauge_name"/>
        <result property="isRecheck"      column="is_recheck"/>
        <result property="originTaskId"   column="origin_task_id"/>
        <result property="status"         column="status"/>
        <result property="delFlag"        column="del_flag"/>
        <result property="createBy"       column="create_by"/>
        <result property="createTime"     column="create_time"/>
        <result property="updateBy"       column="update_by"/>
        <result property="updateTime"     column="update_time"/>
        <result property="remark"         column="remark"/>
    </resultMap>

    <sql id="selectInspTaskVo">
        SELECT task_id, task_no, task_type, source_type, source_no, material_id, material_code, material_name,
               supplier_id, supplier_name, batch_no, inspect_qty, aql_level, inspect_level, sample_size,
               ac_val, re_val, task_status, inspect_result, defect_level, inspector_id, inspector_name,
               inspect_time, judge_time, gauge_id, gauge_name, is_recheck, origin_task_id,
               status, del_flag, create_by, create_time, update_by, update_time, remark
        FROM qms_insp_task
    </sql>

    <select id="selectInspTaskList" parameterType="QmsInspTask" resultMap="QmsInspTaskResult">
        <include refid="selectInspTaskVo"/>
        <where>
            del_flag = '0'
            <if test="taskNo != null and taskNo != ''"> AND task_no LIKE CONCAT('%', #{taskNo}, '%')</if>
            <if test="taskType != null and taskType != ''"> AND task_type = #{taskType}</if>
            <if test="sourceNo != null and sourceNo != ''"> AND source_no LIKE CONCAT('%', #{sourceNo}, '%')</if>
            <if test="materialCode != null and materialCode != ''"> AND material_code LIKE CONCAT('%', #{materialCode}, '%')</if>
            <if test="materialName != null and materialName != ''"> AND material_name LIKE CONCAT('%', #{materialName}, '%')</if>
            <if test="supplierName != null and supplierName != ''"> AND supplier_name LIKE CONCAT('%', #{supplierName}, '%')</if>
            <if test="batchNo != null and batchNo != ''"> AND batch_no LIKE CONCAT('%', #{batchNo}, '%')</if>
            <if test="taskStatus != null and taskStatus != ''"> AND task_status = #{taskStatus}</if>
            <if test="inspectResult != null and inspectResult != ''"> AND inspect_result = #{inspectResult}</if>
            <if test="isRecheck != null and isRecheck != ''"> AND is_recheck = #{isRecheck}</if>
        </where>
        ORDER BY task_id DESC
    </select>

    <select id="selectInspTaskById" parameterType="Long" resultMap="QmsInspTaskResult">
        <include refid="selectInspTaskVo"/>
        WHERE task_id = #{taskId}
    </select>

    <select id="selectInspTaskByNo" parameterType="String" resultMap="QmsInspTaskResult">
        <include refid="selectInspTaskVo"/>
        WHERE del_flag = '0' AND task_no = #{taskNo} LIMIT 1
    </select>

    <insert id="insertInspTask" parameterType="QmsInspTask" useGeneratedKeys="true" keyProperty="taskId">
        INSERT INTO qms_insp_task (
            task_no, task_type, source_type, source_no, material_id, material_code, material_name,
            supplier_id, supplier_name, batch_no, inspect_qty, aql_level, inspect_level, sample_size,
            ac_val, re_val, task_status, inspect_result, defect_level, inspector_id, inspector_name,
            inspect_time, judge_time, gauge_id, gauge_name, is_recheck, origin_task_id,
            status, del_flag, create_by, create_time, remark
        ) VALUES (
            #{taskNo}, #{taskType}, #{sourceType}, #{sourceNo}, #{materialId}, #{materialCode}, #{materialName},
            #{supplierId}, #{supplierName}, #{batchNo}, #{inspectQty}, #{aqlLevel}, #{inspectLevel}, #{sampleSize},
            #{acVal}, #{reVal}, #{taskStatus}, #{inspectResult}, #{defectLevel}, #{inspectorId}, #{inspectorName},
            #{inspectTime}, #{judgeTime}, #{gaugeId}, #{gaugeName}, #{isRecheck}, #{originTaskId},
            #{status}, #{delFlag}, #{createBy}, sysdate(), #{remark}
        )
    </insert>

    <update id="updateInspTask" parameterType="QmsInspTask">
        UPDATE qms_insp_task
        <set>
            <if test="taskNo != null and taskNo != ''">task_no = #{taskNo},</if>
            <if test="taskType != null and taskType != ''">task_type = #{taskType},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="sourceNo != null">source_no = #{sourceNo},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="inspectQty != null">inspect_qty = #{inspectQty},</if>
            <if test="aqlLevel != null">aql_level = #{aqlLevel},</if>
            <if test="inspectLevel != null">inspect_level = #{inspectLevel},</if>
            <if test="sampleSize != null">sample_size = #{sampleSize},</if>
            <if test="acVal != null">ac_val = #{acVal},</if>
            <if test="reVal != null">re_val = #{reVal},</if>
            <if test="taskStatus != null and taskStatus != ''">task_status = #{taskStatus},</if>
            <if test="inspectResult != null">inspect_result = #{inspectResult},</if>
            <if test="defectLevel != null">defect_level = #{defectLevel},</if>
            <if test="inspectorId != null">inspector_id = #{inspectorId},</if>
            <if test="inspectorName != null">inspector_name = #{inspectorName},</if>
            <if test="inspectTime != null">inspect_time = #{inspectTime},</if>
            <if test="judgeTime != null">judge_time = #{judgeTime},</if>
            <if test="gaugeId != null">gauge_id = #{gaugeId},</if>
            <if test="gaugeName != null">gauge_name = #{gaugeName},</if>
            <if test="isRecheck != null">is_recheck = #{isRecheck},</if>
            <if test="originTaskId != null">origin_task_id = #{originTaskId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        WHERE task_id = #{taskId}
    </update>

    <delete id="deleteInspTaskByIds" parameterType="Long">
        UPDATE qms_insp_task SET del_flag = '2' WHERE task_id IN
        <foreach item="taskId" collection="array" open="(" separator="," close=")">#{taskId}</foreach>
    </delete>

    <select id="countBySourceNo" parameterType="String" resultType="int">
        SELECT COUNT(1) FROM qms_insp_task
        WHERE del_flag = '0' AND source_no = #{sourceNo}
    </select>

    <select id="selectOverdueTasks" parameterType="int" resultMap="QmsInspTaskResult">
        <include refid="selectInspTaskVo"/>
        WHERE del_flag = '0'
          AND task_status = '0'
          AND create_time &lt; DATE_SUB(NOW(), INTERVAL #{overdueDays} DAY)
        ORDER BY create_time ASC
    </select>

    <select id="selectStatusCounts" resultType="java.util.Map">
        SELECT task_status AS status, COUNT(*) AS cnt
        FROM qms_insp_task
        WHERE del_flag = '0'
        GROUP BY task_status
    </select>

</mapper>
