<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.safety.mapper.SafetyRiskPointMapper">

    <resultMap type="SafetyRiskPoint" id="SafetyRiskPointResult">
        <result property="riskPointId"     column="risk_point_id"/>
        <result property="riskCode"        column="risk_code"/>
        <result property="riskName"        column="risk_name"/>
        <result property="areaId"          column="area_id"/>
        <result property="areaName"        column="area_name"/>
        <result property="hazardDesc"      column="hazard_desc"/>
        <result property="accidentType"    column="accident_type"/>
        <result property="lValue"          column="l_value"/>
        <result property="eValue"          column="e_value"/>
        <result property="cValue"          column="c_value"/>
        <result property="dValue"          column="d_value"/>
        <result property="riskLevel"       column="risk_level"/>
        <result property="controlLevel"    column="control_level"/>
        <result property="measureEngine"   column="measure_engine"/>
        <result property="measureManage"   column="measure_manage"/>
        <result property="measureTraining" column="measure_training"/>
        <result property="measurePpe"      column="measure_ppe"/>
        <result property="measureEmergency" column="measure_emergency"/>
        <result property="checkStandard"   column="check_standard"/>
        <result property="checkFrequency"  column="check_frequency"/>
        <result property="isMajorHazard"   column="is_major_hazard"/>
        <result property="majorHazardRule" column="major_hazard_rule"/>
        <result property="complianceFile"  column="compliance_file"/>
        <result property="xCoord"          column="x_coord"/>
        <result property="yCoord"          column="y_coord"/>
        <result property="personId"        column="person_id"/>
        <result property="personName"      column="person_name"/>
        <result property="evaluateDate"    column="evaluate_date"/>
        <result property="reEvaluateDate"  column="re_evaluate_date"/>
        <result property="enterpriseId"    column="enterprise_id"/>
        <result property="status"          column="status"/>
        <result property="delFlag"         column="del_flag"/>
        <result property="createBy"        column="create_by"/>
        <result property="createTime"      column="create_time"/>
        <result property="updateBy"        column="update_by"/>
        <result property="updateTime"      column="update_time"/>
        <result property="remark"          column="remark"/>
    </resultMap>

    <sql id="selectVo">
        SELECT risk_point_id, risk_code, risk_name, area_id, area_name, hazard_desc, accident_type,
               l_value, e_value, c_value, d_value, risk_level, control_level,
               measure_engine, measure_manage, measure_training, measure_ppe, measure_emergency,
               check_standard, check_frequency, is_major_hazard, major_hazard_rule, compliance_file,
               x_coord, y_coord, person_id, person_name,
               evaluate_date, re_evaluate_date, enterprise_id, status, del_flag,
               create_by, create_time, update_by, update_time, remark
        FROM biz_safety_risk_point
    </sql>

    <select id="selectSafetyRiskPointList" parameterType="SafetyRiskPoint" resultMap="SafetyRiskPointResult">
        <include refid="selectVo"/>
        <where>
            del_flag = '0'
            <if test="riskCode != null and riskCode != ''"> AND risk_code LIKE CONCAT('%', #{riskCode}, '%')</if>
            <if test="riskName != null and riskName != ''"> AND risk_name LIKE CONCAT('%', #{riskName}, '%')</if>
            <if test="areaId != null"> AND area_id = #{areaId}</if>
            <if test="riskLevel != null and riskLevel != ''"> AND risk_level = #{riskLevel}</if>
            <if test="controlLevel != null and controlLevel != ''"> AND control_level = #{controlLevel}</if>
            <if test="accidentType != null and accidentType != ''"> AND accident_type = #{accidentType}</if>
            <if test="isMajorHazard != null and isMajorHazard != ''"> AND is_major_hazard = #{isMajorHazard}</if>
            <if test="status != null and status != ''"> AND status = #{status}</if>
        </where>
        ORDER BY d_value DESC
    </select>

    <select id="selectSafetyRiskPointById" parameterType="Long" resultMap="SafetyRiskPointResult">
        <include refid="selectVo"/> WHERE risk_point_id = #{riskPointId}
    </select>

    <select id="countByRiskLevel" parameterType="String" resultType="int">
        SELECT COUNT(1) FROM biz_safety_risk_point WHERE risk_level = #{riskLevel} AND del_flag = '0'
    </select>

    <select id="selectFourColorMapData" parameterType="Long" resultType="java.util.Map">
        SELECT risk_level as riskLevel, COUNT(1) as count, area_name as areaName
        FROM biz_safety_risk_point
        WHERE del_flag = '0'
        <if test="enterpriseId != null"> AND enterprise_id = #{enterpriseId}</if>
        GROUP BY risk_level, area_name
    </select>

    <insert id="insertSafetyRiskPoint" parameterType="SafetyRiskPoint" useGeneratedKeys="true" keyProperty="riskPointId">
        INSERT INTO biz_safety_risk_point (
            risk_code, risk_name, area_id, area_name, hazard_desc, accident_type,
            l_value, e_value, c_value, d_value, risk_level, control_level,
            measure_engine, measure_manage, measure_training, measure_ppe, measure_emergency,
            check_standard, check_frequency, is_major_hazard, major_hazard_rule, compliance_file,
            x_coord, y_coord, person_id, person_name,
            evaluate_date, re_evaluate_date, enterprise_id, status, create_by, create_time, remark
        ) VALUES (
            #{riskCode}, #{riskName}, #{areaId}, #{areaName}, #{hazardDesc}, #{accidentType},
            #{lValue}, #{eValue}, #{cValue}, #{dValue}, #{riskLevel}, #{controlLevel},
            #{measureEngine}, #{measureManage}, #{measureTraining}, #{measurePpe}, #{measureEmergency},
            #{checkStandard}, #{checkFrequency}, #{isMajorHazard}, #{majorHazardRule}, #{complianceFile},
            #{xCoord}, #{yCoord}, #{personId}, #{personName},
            #{evaluateDate}, #{reEvaluateDate}, #{enterpriseId}, #{status}, #{createBy}, sysdate(), #{remark}
        )
    </insert>

    <update id="updateSafetyRiskPoint" parameterType="SafetyRiskPoint">
        UPDATE biz_safety_risk_point
        <set>
            <if test="riskCode != null and riskCode != ''">risk_code = #{riskCode},</if>
            <if test="riskName != null and riskName != ''">risk_name = #{riskName},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="hazardDesc != null">hazard_desc = #{hazardDesc},</if>
            <if test="accidentType != null">accident_type = #{accidentType},</if>
            <if test="lValue != null">l_value = #{lValue},</if>
            <if test="eValue != null">e_value = #{eValue},</if>
            <if test="cValue != null">c_value = #{cValue},</if>
            <if test="dValue != null">d_value = #{dValue},</if>
            <if test="riskLevel != null">risk_level = #{riskLevel},</if>
            <if test="controlLevel != null">control_level = #{controlLevel},</if>
            <if test="measureEngine != null">measure_engine = #{measureEngine},</if>
            <if test="measureManage != null">measure_manage = #{measureManage},</if>
            <if test="measureTraining != null">measure_training = #{measureTraining},</if>
            <if test="measurePpe != null">measure_ppe = #{measurePpe},</if>
            <if test="measureEmergency != null">measure_emergency = #{measureEmergency},</if>
            <if test="checkStandard != null">check_standard = #{checkStandard},</if>
            <if test="checkFrequency != null">check_frequency = #{checkFrequency},</if>
            <if test="isMajorHazard != null">is_major_hazard = #{isMajorHazard},</if>
            <if test="majorHazardRule != null">major_hazard_rule = #{majorHazardRule},</if>
            <if test="complianceFile != null">compliance_file = #{complianceFile},</if>
            <if test="xCoord != null">x_coord = #{xCoord},</if>
            <if test="yCoord != null">y_coord = #{yCoord},</if>
            <if test="personId != null">person_id = #{personId},</if>
            <if test="personName != null">person_name = #{personName},</if>
            <if test="evaluateDate != null">evaluate_date = #{evaluateDate},</if>
            <if test="reEvaluateDate != null">re_evaluate_date = #{reEvaluateDate},</if>
            <if test="enterpriseId != null">enterprise_id = #{enterpriseId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        WHERE risk_point_id = #{riskPointId}
    </update>

    <delete id="deleteSafetyRiskPointById" parameterType="Long">
        UPDATE biz_safety_risk_point SET del_flag = '2' WHERE risk_point_id = #{riskPointId}
    </delete>

    <delete id="deleteSafetyRiskPointByIds" parameterType="Long">
        UPDATE biz_safety_risk_point SET del_flag = '2' WHERE risk_point_id IN
        <foreach item="riskPointId" collection="array" open="(" separator="," close=")">#{riskPointId}</foreach>
    </delete>

    <select id="countRiskPointByAreaId" parameterType="Long" resultType="int">
        SELECT COUNT(1) FROM biz_safety_risk_point WHERE area_id = #{areaId} AND del_flag = '0'
    </select>

    <select id="countHazardByRiskPointId" parameterType="Long" resultType="int">
        SELECT COUNT(1) FROM biz_safety_hazard WHERE risk_point_id = #{riskPointId} AND del_flag = '0'
    </select>

    <select id="countTaskByRiskPointId" parameterType="Long" resultType="int">
        SELECT COUNT(1) FROM biz_safety_inspection_task WHERE risk_point_id = #{riskPointId} AND del_flag = '0'
    </select>

</mapper>